@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: white;
    background-color: #181818;
}

img {
    max-width: 768px;
    max-height: 500px;
}

p {
    font-family: 'Press Start 2P', cursive;
    line-height: 130%;
    max-width: 680px;
    margin:auto;
}

.hero-stats {
    display: flex;
    flex-direction: row;
    font-size: 80%;
    text-align: left;
    background-color: #404040;
    padding: 5px;
}

input, button {
    font-family: 'Press Start 2P', cursive;
    padding: 5px;
}

.plot {
    font-family: 'Mukta', sans-serif;
    max-width: 680px;
    font-size: 120%;
}

h1 {
    background-color: #404040;
    padding: 30px;
    margin: 0;
}

.start-page-img {
    opacity: 10%;
}

.register {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
    margin: 0 auto;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.heroes {
    max-width: 300px;
    font-size: 85%;
    padding: 10px;
}

.heroes:hover {
    background-color: #212124;
}

li {
    list-style-type: none;
    text-align: left;
    line-height: 150%;
}

ul {
    text-align: left;
}

.new-hero {
    background-color: #192734;
    padding: 15px;
    padding-bottom: 20px;
}

a {
    text-decoration: underline;
    color: #818181;
}