<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mighty Badlands</title>
    <link rel="stylesheet" href="static/game.css">
</head>
<body>
    {% for stat in stats %}
    <div class="hero-stats">
        <p>Name: {{ stat[2] }}</p>
        <p>Class: {{ stat[3] }}</p>
        <p>ATK: {{ stat[4] }}</p>
        <p>HP: {{ stat[5] }}</p>
        <p>MP: {{ stat[6] }}</p>
    </div>
    {% endfor %}
    <h1>You Died.</h1>
    <!-- <img src="#" alt="a {{ loc_name }}"> -->

    <p>As your health points hit zero, you fall to your needs and your world turns dark. Running out of health sucks. Should've stocked up on some FLASK potions...</p>
    <div>
    <!-- https://stackoverflow.com/questions/34126316/adding-onclick-and-window-location-href -->
        <button onclick='window.location.href="/choosehero"'>Start Over.</button>
    </div>
</body>
</html>